*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore IntelliJ IDEA files
.idea/

# Ignore application directory
app/

# Ignore build script
build.gradle.kts

# Ignore Gradle properties
gradle.properties

# Ignore Gradle directory
gradle/

# Ignore Gradle wrapper scripts
gradlew
gradlew.bat

# Ignore settings file
settings.gradle.kts
