*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore IntelliJ/Android Studio files
.idea/

# Ignore build directories
*/build/

# Ignore Gradle wrapper files
gradlew
gradlew.bat
